/* --- Header --- */
header {
    position: relative;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    box-shadow: 10px 0px 10px 1px #00000024;
    z-index: 10;
    padding-bottom: 0;
    background: #005bff;
    &.index_head {background: none;position: absolute;}
     .container:nth-child(1){
        border-bottom: solid 1px #ffffff52;
        padding-bottom: 10px;
        .logo {
            font-size: 32px;
            img {height: 30px;
                width: 30px;
                margin-right: 7px;
                filter: brightness(5);}
        }
        .products {
            padding: 13px 15px;
            border-radius: 8px;
            border: solid 2px #ffffff52;
            background: #00000017;
            
            margin-left: 15px;
            width: auto;
            &:hover {background: #00000024;}
        }
     }
        .link {
            border-bottom: solid 2px #fff0;
            height: 38px;
            padding: 0px 7px;
            color: #fff;
            &.active {border-bottom: solid 2px #fff; &:hover {border-bottom: solid 2px #fff;}}
            &:hover {border-bottom: solid 2px #ffffff52;}
            i {margin: 0 5px;font-size: 16px;}
        }
     
    a, button {color: #fff !important;
    &:hover {color: #fff;}}
    .forum {
        >div {margin:0 10px 10px;}
        input, select {    
            height: 58px;
            border: solid 1px #eee;
            padding: 0px 15px;
            font-size: 14px;
            border-radius: 12px;
            width: 100%;
            background-color: #F3F3F3;
            height: 45px;
        }
    }
}


/* --- section (1) --- */
section:nth-child(1) {
    position: relative;z-index: 3;
    &.index_bg {background: linear-gradient(359deg, #0c14d6 25%, #005bff 100%);overflow: hidden;height: clamp(700px, 100vh, 1400px);}
    .container {
        padding-top: 20px;height: inherit;padding-bottom: 65px;
        .text {
            animation-duration: 2.0s;animation-name: text-title;color: #fff;font-size: 16px;
            h1 {font-size: 45px;margin-top: 0px;margin-bottom: 20px;}
            button {    width: auto;
                font-size: 14px;
                margin-top: 20px;
                border: solid 2px;
                background: none;}
        }
        .right-info{animation-duration:1.8s;animation-name:fadeInRightBig}
        .img-1{animation-name:bobbing;animation-duration:2s;animation-iteration-count:infinite;width: 400px;height: auto;}
        .shadow{display:block;border-radius:100%;height:20px;width:220px;background:#000;opacity:.3;margin:20px auto 0;animation-name:shadow;animation-duration:2s;animation-timing-function:ease-in-out;animation-iteration-count:infinite;}
        .project {
            border: solid 1px #ffffff7a;padding: 10px 20px;border-radius: 6px;width: max-content;margin-top: 30px;color: #ffff;font-size: 14px;transition: border 0.2s ease-out;
        &:hover {
            border: solid 1px #fff;
            img {
                transform: translate(7px,0px);
            }
        }
        > img {transform: translate(5px,0px); transition: transform 0.2s ease-out;}
        }
        
    }
    .background{
        height:100%;position:absolute;width:100%;background-image:url(../img/index/phone-1.png);animation-duration:3s;animation-name:opacity-animation;
        .cricle{border-radius:50%;background:rgba(255,255,255,0.12);position:absolute;z-index:-10;visibility:visible;animation-duration:2s;animation-name:fadeInRightBig}
        > .circle_1{width:2200px;height:2200px;top:-1100px;right:-1100px}
        > .circle_2{width:1700px;height:1700px;top:-850px;right:-850px}
        > .circle_3{width:1200px;height:1200px;top:-600px;right:-600px}
        > .circle_4{width:700px;height:700px;top:-350px;right:-350px}
    }
    .waves{position:absolute;bottom:0}
    .waves .animation{background:url(../img/index/waves.svg) repeat-x;position:absolute;top:-198px;width:6144px;height:198px;animation:11s cubic-bezier(0.36,0.45,0.63,0.53) 0 infinite normal none running wavebar-svg-object;transform:translate3d(0px,0px,0px)}
    .waves .animation:nth-child(2){top:-174px;animation:11s cubic-bezier(0.4,0.2,0.2,0.2) -.124s infinite normal none running wavebar-svg-object,11s ease -1.24s infinite normal none running swell;opacity:1}
    .photo-1{animation-name:bobbing;animation-duration:2s;animation-iteration-count:infinite}
}

/* --- section (2) --- */
section:nth-child(2) {
    position: relative;
    background-color: #edeef0;
    padding-bottom: 40px;
    .mr_bt_down_40 {margin-top: -40px;}
    .w-2 {
        .advantages {
            text-align: center;
            background: #fff;
            border-radius: 8px;
            padding: 14px 5px;
            height: 130px;
            cursor: pointer;
            transition: transform 0.2s ease-out;
            &:hover {transform: translate(0px,-5px); transition: transform 0.2s ease-out;}
            > i {
                font-size: 46px;
                margin: 5px 0 18px 0;
                display: block;
    
            }
        }
        &:nth-child(1) i {color: #7265d2;}
        &:nth-child(2) i {color: rgb(50, 145, 50);}
        &:nth-child(3) i {color: #c73588;}
        &:nth-child(4) i {color: #454242;}
        &:nth-child(5) i {color: #503e9a;}
        &:nth-child(6) i {color: #cd7509;}
    }
    .transform_top {
        transform: translateY(-65px);
        position: relative;
        z-index: 3;
    }

    
}
section:nth-child(4) {
    background-color: #fff;
    padding-bottom: 60px;
     .users {
        padding-top: 60px;
        margin-bottom: 50px;
        h2 {
            margin-bottom: 60px;
            &.mr_top_20px {margin-top: 20px;}
         }
        .best_users {
            border: solid 1px #ddd;
            position: relative;
            text-align: center;
            border-radius: 4px;
            width: 30%;
            margin: 0 10px;
            background: #eeeeee3b;
            margin-bottom: 15px;
            img {
                border-radius: 100%;
                transform: translateY(-50%);
                object-fit: cover;
            }
            .info {
                margin-top: -50px;
                padding-bottom: 10px;
            }
            .number {
                width: 40px;
                height: 40px;
                background: #005bff;
                border-radius: 100%;
                text-align: center;
                margin: 0 auto;
                font-size: 14px;
                color: #000;
                position: absolute;
                top: -15px;
                left: -15px;
                padding: 7px;
                div {
                    width: 26px;
                    height: 26px;
                    background: #fff;
                    border-radius: 100%;
                    line-height: 26px;
                }
            }
         }
     }
     .img-2 {
        width: 100%;
        height: auto;
        border-radius: 10px;
     }
     .calculator {background: #fbfbfb;
        border: solid 1px #ddd;}
}


section:nth-child(3) {
    background-image: url(../img/index/phone.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    padding-top: 50px;
    padding-bottom: 230px;
    h2 {color: #eee;margin-bottom: 40px;}
    .block {
        box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    
     h2 {color: #393434;}
    }
    .accordions {
        .list {
            margin-bottom: 15px;
            border: solid 1px #b5b5b5;
            border-radius: 6px;
            .title {
                padding: 15px;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.2s;
                &:hover {background: #eeeeee73;}
            }
            .body {
                max-height: 0;
                overflow: hidden;
                transition: max-height 1.0s ease;
            }
            .text {padding: 10px;}
            &.active {
                .title {background: #eeeeee73;}
                .body {
                    max-height: 100px;
                }
            }
        }
    }
}


/* ------------------------------------ Other ------------------------------------ */
.contact_index {
    color: #fff;
    border-radius: 20px;
    padding: 60px 80px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    background: linear-gradient(359deg, #0c14d6 25%, #005bff 100%);
    overflow: hidden;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.03);
    }
    h2 {    max-width: 50%;
        font-size: 30px;}
        p {
            font-size: 19px;
            max-width: 55%;
        }
            a {    
                background: #FFF;
                border-radius: 100px;
                z-index: 100;
                position: relative;
                margin-right: 15px;
                width: 52px;
                height: 52px;
                i {font-size: 20px;margin-left: 5px;margin: 0 auto;}
            }
    .bg {
        position: absolute;
        right: -100px;
        top: -136px;
        width: 600px;
        height: 600px;
        > div {
            width: 500px;
            height: 500px;
            > div {
                width: 400px;
                height: 400px;
                text-align: center;
                line-height: 400px;
                i {
                    font-size: 180px;
                    filter: drop-shadow(5px 5px 5px #0000004a);
                }
            }
        }
        &.bh, .bh {
            border: solid 2px #ffffff30;
            border-radius: 100%;
            padding: 50px;
            border-style: dashed;
        }
    }
}
.block-ozon {
    background: #fff;
    border: solid 1px #eee;
    border-radius: 10px;
    padding: 10px 15px;
    align-items: center;
    color: #001122f2;

    .ico {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        overflow: hidden;
        border-radius: 16px;
        background: #6183a21a;
    }
    &:hover {
        border: solid 1px #ddd;
        background: #ffffff87;

    }
    &.active {border: solid 1px #0450d945;background: #ffffff87;}
}

.block {
    border-radius: 1.5rem;
    margin-bottom: 20px;
    padding: 30px 36px;
    background: #fff;
    font-size: 14px;
    h1 {
        font-size: 26px;
        margin-top: 0px;
        span {font-size: 20px;}
    }
}
.contact {
    padding: 10px 10px;
    border-radius: 10px;
    i {margin: 0 5px 5px;font-size: 20px;}
    &:hover {background-color: #005bff0a;}
}
.img-w50 {
    img {
        width: 50%;
        height: auto; 
        &:nth-child(1) {
            width: 77%;
        }
    }
}
form {
    input {
        display: block;
        width: 100%;
        padding: 14px;
        border-radius: 4px;
        border: solid 1px #ddd;
        margin-bottom: 15px;
    }
    .confirmation {cursor: pointer;flex-wrap: nowrap;#horns {width: 16px;margin-right: 10px;}}
}
.non_table {
    th:nth-child(odd) {
        text-align: left;
        width: 70%;
    }
}
.bonus {
    .block {
        flex-wrap: nowrap;
        padding: 15px;
    i {margin: 0 15px 0 5px;font-size: 40px;display: flex; align-items: center;}
    h3 {margin-top: 0px;margin-bottom: 5px;}
    }
    &:nth-child(1) i {color: #7265d2;}
    &:nth-child(2) i {color: #c73588;}
    &:nth-child(3) i {color: #cd7509;}
}
h2 {
    margin: 0 0 10px;
    font-size: 25px;
}
.horizontal_menu {
    background: #fff;
    border-radius: 12px;
    padding: 0 10px;
    margin-bottom: 20px;
    .link{
        padding: 12px 10px;
        &:hover {border-bottom: solid 2px #7772a3;}
        &.active {
            border-bottom: solid 2px #005bff;
            color: black;
        }
    }
}
/* ------------------------------------ animation ------------------------------------ */
.alert {
    position: fixed;
    top: 15px;
    right: -15px;
    padding: 14px;
    border-radius: 14px 14px 0px 0px;
    background: #fff;
    color: #005bff;
    background-color: #fff;
    transition: 2s;
    border: solid 1px #ddd;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    i {margin-right: 7px;
        font-size: 30px;
        color: green;}
    &:hover {border: solid 1px #cac3c3;}
    &.show {visibility: visible; opacity: 1;right: 15px;}
    .progress {
        height: 4px;
        background: #ddd;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        &.show {width: 0;transition: width 5s;}
    }
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes text-title {
    0% {
        opacity: 0;
        transform: translateY(1500px);
    }
    50% {
        opacity: 0.5;
      }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bobbing {
	0% {
		transform:translate(0px,0px);
	}
	50% {
		transform:translate(0px,8px);
	}
	100% {
		transform:translate(0px,0px);
	}
}
@keyframes wavebar-svg-object {
	0% {
		margin-left:0;
	}
	100% {
		margin-left:-1600px;
	}
}
@keyframes shadow {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1.0);
    }
}
@keyframes opacity-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
