.footer {    
    position: relative;
    background: linear-gradient(to top,#7d64646b,#edeef000);
    .footer_content {
        background: #fff;
        position: relative;
        color: #6d5757;
        padding: 0 10px 20px;
    }
  } 
